{% extends "base.html" %}

{% block title %}
    {% if etiqueta %}Editar Etiqueta{% else %}Crear Etiqueta{% endif %}
{% endblock %}

{% block content %}

<h1 class="mb-4">
    {% if etiqueta %}Editar Etiqueta{% else %}Crear Etiqueta{% endif %}
</h1>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input type="text" name="nombre" class="form-control"
               value="{{ etiqueta.nombre|default:'' }}" required>
    </div>

    <button class="btn btn-success">
        {% if etiqueta %}Actualizar{% else %}Crear{% endif %}
    </button>

    <a href="/etiquetas/" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
