{% extends "base.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}

<h1 class="mb-4">Pedidos</h1>

<a href="{% url 'crear_pedido' %}" class="btn btn-primary mb-3">+ Crear pedido</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Productos</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for p in pedidos %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.cliente.nombre }}</td>
            <td>
                {% for producto in p.productos.all %}
                    <span class="badge bg-dark">{{ producto.nombre }}</span>
                {% endfor %}
            </td>
            <td>{{ p.fecha_pedido }}</td>
            <td>
                <a href="{% url 'detalle_pedido' p.pk %}" class="btn btn-info btn-sm">Ver</a>
                <a href="{% url 'editar_pedido' p.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'eliminar_pedido' p.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No hay pedidos creados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
