{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="text-center mt-4 pb-5">

    <h1 class="mb-4 hero-title">Bienvenido al Marketplace de Maru y gatitas</h1>

    <p class="lead mb-4">
        Explora productos usados de buena calidad al mejor precio.
    </p>

    <div class="d-flex justify-content-center gap-3 mb-5 flex-wrap">
        <a href="{% url 'lista_productos' %}" class="btn btn-primary btn-lg">Ver productos</a>
        <a href="{% url 'lista_pedidos' %}" class="btn btn-outline-light btn-lg">Pedidos</a>

        {% if user.is_superuser %}
        <a href="{% url 'lista_clientes' %}" class="btn btn-outline-light btn-lg">Clientes</a>
        {% endif %}
    </div>

    <h3 class="mb-3">Últimos productos cargados</h3>

    <div class="row justify-content-center">

        {% for p in productos %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="{% static 'img/arcoiris.png' %}" class="card-img-top" alt="{{ p.nombre }}" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ p.nombre }}</h5>
                    <p><strong>$ {{ p.precio }}</strong></p>

                    <a href="{% url 'detalle_producto' p.pk %}" class="btn btn-sm btn-primary">
                        Ver detalle
                    </a>

                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-muted">No hay productos cargados todavía.</p>
        {% endfor %}

    </div>

</div>

{% endblock %}
